<div class="postcommentsform__content">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function() {
            this.page.url = '{post.uri}';
            this.page.identifier = '{settings.comments.disqus.shortname}:post:{post.uid}';
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//{settings.comments.disqus.shortname}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript><f:translate key="comments.disqus.noscript.prefix" /> <a href="https://disqus.com/?ref_noscript"><f:translate key="comments.disqus.noscript.link" /></a></noscript>
</div>
